@import '../../node_modules/rsuite/styles/index.less';

.form-submit {
  min-width: 300px;
  margin: 0 auto;
}

.parent {
  display: flex;
  flex-direction: row;
}

.firstChild {
  width: 50%;
  margin-right: 15px;
}

.secondChild {
  width: 50%;
}

.rs-input-group, .rs-form-group {
  margin-top: 30px;
}

.rs-picker-date {
  outline: none;
}

.rs-picker-date:hover {
  outline: none;
  border: none;
}
