@import '../../node_modules/rsuite/styles/index.less';

* {
  user-select: none;
}

.form-submit {
  min-width: 300px;
  margin: 30px auto 0;
}

.parent {
  display: flex;
  flex-direction: row;
}

.parent:not(:first-child) {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.firstChild {
  width: 50%;
  margin-right: 20px;
}

.secondChild {
  width: 50%;
}

.firstChild .rs-form-group:not(:first-child) {
  margin: 30px auto;
}

.secondChild .rs-form-group:not(:first-child) {
  margin: 30px auto;
}

.rs-input-group, .rs-form-group {
  width: 100% !important;
}

@media (min-width: 1200px) {
  .search-bar {
    width: 699px !important;
  }
}

@media (max-width: 1200px) {
  .search-bar {
    width: 450px !important;
  }
}

@media (max-width: 1100px) {
  .search-bar {
    width: 350px !important;
  }
}

@media (max-width: 1000px) {
  .search-bar {
    width: 250px !important;
  }
}

@media (max-width: 900px) {
  .search-bar {
    width: 200px !important;
  }
}

@media (max-width: 850px) {
  .search-bar {
    width: 120px !important;
  }
}

@media (max-width: 770px) {
  .search-bar {
    width: 100px !important;
  }
}

@media (max-width: 750px) {
  .search-bar {
    width: 50px !important;
  }
}

@media (max-width: 700px) {
  .search-bar {
    display: none !important;
  }
}

.product-card {
  transition: all 200ms linear;
}

.product-card:hover {
  transform: scale(1.1);
}
