@import '../../node_modules/rsuite/styles/index.less';

* {
  user-select: none;
}

.form-submit {
  min-width: 300px;
  margin: 30px auto 0;
}

.parent {
  display: flex;
  flex-direction: row;
}

.parent:not(:first-child) {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.firstChild {
  width: 50%;
  margin-right: 20px;
}

.secondChild {
  width: 50%;
}

.firstChild .rs-form-group:not(:first-child) {
  margin: 30px auto;
}

.secondChild .rs-form-group:not(:first-child) {
  margin: 30px auto;
}

.rs-input-group, .rs-form-group {
  width: 100% !important;
}
